
<div class="container">

  <h1>
    Welcome to {{ title }}!
  </h1>
<!--property binding-->
  <button class="btn btn-primary" [disabled]="!allowNewServer"> enable !</button>

  <button class="btn btn-outline-danger" [disabled]="!allowNewServer" (click)="onCreateServer()" > Click this !</button>


  <!--string interpolation replaced by property binding-->
<!--<p>{{allowNewServer}}</p>-->
<p [innerText]="allowNewServer"></p>
  <hr>


  <input type="text" class="form-control" (input)="onUpdateServerName($event)">
  <p>{{servername}}</p>

  <h4>two way binding</h4>

  <input type="text" class="form-control" [(ngModel)]="servername">
  <p>{{servername}}</p>
</div>
<hr color="blue">

<!--task 1 -->
<div class="container">
  <h2>
      Task 1 : Create Server onclicking button !
  </h2>
 <p><input type="text" class="form-control" (input)="onWritingServerName($event)"></p>
  <p><button class="btn-outline-primary" (click)="onServerCreated()">create server !</button></p>

  <!--<p *ngIf="servercreated">The server name is {{server_name}}</p>-->
  <p *ngIf="servercreated; else noServer">The server name is {{server_name}}</p>

  <ng-template #noServer>No server created yet.</ng-template>
  <app-servers *ngFor="let servers of servers">

  </app-servers>
</div>



